table{border-spacing: 10px;}
td{
    width: 40px;
    height: 40px;
    font-size:xx-small;
    vertical-align: top;
}

.a{background-color:green ;}

.a :nth-child(n+4):nth-child(-n+6){
    background-color: blue;
}

#b{background-color:blue ;}

#b :nth-child(n+4):nth-child(-n+6)
{
    background-color: green;
}